{% load static %}
<!DOCTYPE html>
<html data-theme="light" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Tools</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="flex p-4 gap-4">
      <div class="flex-none w-1/6">
        {% include "components/sidebar.html" %}
      </div>
      <div class="flex-1">
        <div class="grid grid-cols-12 grid-flow-row gap-4">
          {% include "components/navbar.html" %}
          {% include "components/breadcrumbs.html" %}
          {% block content %}{% endblock content %}
        </div>
      </div>
    </div>
  </body>
</html>
